---
import Layout from '@app/layouts/Layout.astro';
import Headline from "@app/components/Headline.tsx";
import HeadRainBow from '@app/components/layout/HeadRainBow';

import homeProduct1 from "@app/resource/img/home-product-1.jpg";
import homeProduct2 from "@app/resource/img/home-product-2.jpg";
import homeProduct3 from "@app/resource/img/home-product-3.jpg";
import homeProduct4 from "@app/resource/img/home-product-4.jpg";
import homeProductA from "@app/resource/img/home-product-a.png";

const siteProps = {
  menu: 'product',
	title: '产品系列 - 捷成',
};
---

<Layout {...siteProps}>
  <HeadRainBow />
  <div class="bg-info">
    <div class="pt-0 lg:pt-36 pb-56 lg:pb-96">
      <section class="px-2 sm:px-0 container mx-auto pt-12 lg:pt-24">
        <Headline className="mx-2 lg:mx-0" heading="产品系列" explain="Product Line" />
        <ul class="flex flex-wrap sm:flex-nowrap">
          <li class="flex items-center justify-center w-1/2 h-auto lg:h-80 lg:w-80 mr-0 lg:mr-5 mb-3">
            <a class="flex flex-col items-center justify-center mx-2 lg:mx-0 pt-4 pb-3 lg:py-0 bg-[#fff] rounded-2xl w-full h-full text-2xl border-[1px] border-[#fff] hover:border-[1px] hover:border-[#012343] font-semibold text-primary" href="/product/breast-specimen-imaging">
              <img class="w-2/3 lg:w-auto mb-3 lg:mb-6" src={homeProduct1.src} alt="乳腺标本成像">
              <div class="flex items-center text-base lg:text-2xl">
                乳腺标本成像 <img class="ml-2 lg:ml-4 h-fit" src={homeProductA.src} alt="a">
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center w-1/2 h-auto lg:h-80 lg:w-80 mr-0 lg:mr-5 mb-3">
            <a class="flex flex-col items-center justify-center mx-2 lg:mx-0 pt-4 pb-3 lg:py-0 bg-[#fff] rounded-2xl w-full h-full text-2xl border-[1px] border-[#fff] hover:border-[1px] hover:border-[#012343] font-semibold text-primary" href="/product/breast-specimen-imaging">
              <img class="w-2/3 lg:w-auto mb-3 lg:mb-6" src={homeProduct2.src} alt="乳腺活检旋切">
              <div class="flex items-center text-base lg:text-2xl">
                乳腺活检旋切 <img class="ml-2 lg:ml-4 h-fit" src={homeProductA.src} alt="a">
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center w-1/2 h-auto lg:h-80 lg:w-80 mr-0 lg:mr-5 mb-3">
           <a class="flex flex-col items-center justify-center mx-2 lg:mx-0 pt-4 pb-3 lg:py-0 bg-[#fff] rounded-2xl w-full h-full text-2xl border-[1px] border-[#fff] hover:border-[1px] hover:border-[#012343] font-semibold text-primary" href="/product/breast-specimen-imaging">
              <img class="w-2/3 lg:w-auto mb-3 lg:mb-6" src={homeProduct3.src} alt="组织标记示踪">
              <div class="flex items-center text-base lg:text-2xl">
                组织标记示踪 <img class="ml-2 lg:ml-4 h-fit" src={homeProductA.src} alt="a">
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center w-1/2 h-auto lg:h-80 lg:w-80 mr-0 lg:mr-5 mb-3">
            <a class="flex flex-col items-center justify-center mx-2 lg:mx-0 pt-4 pb-3 lg:py-0 bg-[#fff] rounded-2xl w-full h-full text-2xl border-[1px] border-[#fff] hover:border-[1px] hover:border-[#012343] font-semibold text-primary" href="/product/breast-specimen-imaging">
              <img class="w-2/3 lg:w-auto mb-3 lg:mb-6" src={homeProduct4.src} alt="乳腺腔镜手术">
              <div class="flex items-center text-base lg:text-2xl">
                乳腺腔镜手术 <img class="ml-2 lg:ml-4 h-fit" src={homeProductA.src} alt="a">
              </div>
            </a>
          </li>
        </ul>
        </section>
    </div>
  </div>
</Layout>
